<nav>
    <a class="navbar" href="/">LuaLatex Compiler <i class="fas fa-code"></i></a>
    <a class="username" href="">{{ user.display_name }}</a>
    <a class="logout" href="" hx-get="/partial/unlogged/?logout=true">logout</a>
</nav>