<form class="register-form" hx-post="/user/create" hx-target=".register-form" hx-swap="outerHTML">
    <input name="login" type="text" placeholder="Логин" />
    <input name="password" type="password" placeholder="Пароль" />
    <input name="display_name" type="text" placeholder="Отображаемое имя" />
    <input name="email" type="text" placeholder="Адрес электронной почты" />
    <button type="submit">Создать</button>
    <p class="message">Уже зарегистрированы? <a href="" hx-trigger="click" hx-target=".register-form"
            hx-get="/partial/login_form" hx-swap="outerHTML">Войти</a></p>
    <ul>
        {% for error_line in error_msgs %}
        <li>{{ error_line }}</li>
        {% endfor %}
    </ul>
</form>