html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    gap: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #838383;
    text-align: center;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.copyright {
    vertical-align: middle;
}

.links {
    height: 100%;
    /* margin-top: 5px; */
    /* vertical-align: middle; */
}

li {
    list-style: none;
}

.form-container {
    margin: 2em;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86%;
    background-color: #f4f4f4;
}

/* Основные стили для формы */
.login-form,
.register-form {
    width: 300px;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Стили для полей ввода */
.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"] {
    width: calc(100%);
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Стили для кнопки */
.login-form button[type="submit"],
.register-form button[type="submit"] {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover,
.register-form button[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для текста сообщения */
.login-form .message,
.register-form .message {
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em;
}

.login-form .message a,
.register-form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.login-form .message a:hover,
.register-form .message a:hover {
    text-decoration: underline;
}

/* Стили для блока ошибок */
#login-form-error-msg,
.register-form ul {
    margin-top: 1em;
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.register-form ul {
    list-style-type: none;
    padding: 0;
}

.register-form ul li {
    margin-bottom: 0.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: white;
    height: 5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    gap: 20px;
}

nav .navbar {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

nav .navbar i {
    margin-left: 0.5em;
}

nav span {
    display: flex;
}

nav .username {
    display: block;
    align-self: center;
    color: rgb(221, 221, 221);
}

nav .logout {
    display: block;
    align-self: center;
    color: crimson;
}

.nav-item {
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #45a049;
}

.nav-item i {
    margin-left: 0.5em;
}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: row;
    gap: 10px;
    /* height: calc(100vh - 60px); */
    /* Adjust height based on nav height */
    /* margin-top: 60px; */
    /* Adjust margin-top to match nav height */
}

#sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 98%;
    margin-left: 10px;
    align-items: center;
}

.items {
    overflow-y: auto;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.item {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .date {
    padding-top: 5px;
    color: #838383;
}

.item:hover {
    background-color: #e0e0e0;
}

.green-button {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    align-self: stretch;
}

.green-button:hover {
    background-color: #45a049;
}


.workspace-details h2 {
    margin-top: 0;
}

.workspace-details ul {
    list-style-type: none;
    padding: 0;
}

.workspace-details ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    display: block;
    height: 50%;
    width: fit-content;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    overflow-y: auto;
    text-align: center;
    align-self: center;
    flex-grow: 1;
    height: 98%;
    margin-right: 10px;
}

.create-workspace-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    width: 40%;
    /* align-self: center; */
    margin: auto;
}

.create-workspace-form input {
    margin: 10px;
}

.create-workspace-form textarea {
    margin: 10px;
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
}

.resizable-list {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.two-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: auto;
    /* align-items: center; */
}

.workspace-details {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel {
    border-radius: 10px;
    border-right: 1px solid #ccc;
    background-color: #f4f4f4;
}

.template-editor {
    display: flex;
    flex-direction: column;
}

.latex-editor {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    width: 80%;
}